@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
body{
    overflow: auto;
    margin: 0 auto;
    height: 100%;
    font-family: 'Castoro', serif;
}
/*start first section*/
.first-section{
    background-color: #D7DADF;
    width: 100%;
    margin: 100px 0;
    overflow: hidden;
}
section .container .right img{
    width: 20%;
    float: right;
    height: 17em;
    margin-right: 25%;
}
section .container .left{
    float: left;
    width: 32%;
    margin: 50px 10px 50px 17%;
    line-height: 1.5em;
}
section .container .left p{
    font-style: italic;
    color: #7A777E;
    font-size: 0.75em;
}
section .left h2{
    color: #852d2d;
    font-size: 1em;
    font-weight: bold;
}
/*end first section*/

/*second section start*/
.second-section{
    overflow: hidden;
}
.second-section .container h1{
    text-align: center;
}
.second-section .container .design-container{
    width: 100%;
    overflow: hidden;
    padding-left:190px;
}
.second-section .container .designs {
    width: 20%;
    background-color: #D7DADF;
    text-align: center;
    padding: 20px;
    float: left;
    margin: 50px 20px;
}
.second-section .container .designs p{
    margin: 20px auto;
    text-align: left;
    line-height: 1.5em;
    font-weight: bold;
}
.second-section .container .designs img{
    margin: 15px 0;
}
.second-section .container .third-design img{
    height: 200px;
    width: max-content;
}
.second-section .container .designs .last-span{
    margin-bottom: 10px;
    font-family: sans-serif;
}
.second-section .container .designs .last-span span img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px 0 0;
}
.second-section .container .designs .last-span span span{
    font-size: 1em;
}
.second-section .container .designs .last-span i,
.second-section .container .designs .last-span span{
    color: #7A777E;
    font-size: 0.6em;
}
.second-section .container .designs .last-span span{
    margin-right: 25px;
}
/*end first section*/